main{
  display: flex;
  flex-direction: column;
}

#contents{
  border: 2px solid;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

#sidebar{
  border: 2px solid;
}

#pictures{
  border: 2px solid;
  flex: 7;
}

#sidebar{
  display: flex;
  flex-direction: column;
  background-color: #993f24;
  color: white;
}

#uploadHolder, #filterHolder, #favoritesHolder{
  display: flex;
  flex-direction: row;
}

#uploadIcon, #filterIcon, #favoritesIcon{
  padding-top: 20px;
  padding-right: 5px;
}
